#app.container.my-3
  .input-group.mb-3
    .input-group-prepend
      span#basic-addon1.input-group-text 待辦事項
    input.form-control(type='text' 
    placeholder='準備要做的任務' 
    v-model="newTodo")
    .input-group-append
      button.btn.btn-primary(type='button' 
      @click="addTodo") 新增
  .card.text-center
    .card-header
      ul.nav.nav-tabs.card-header-tabs
        li.nav-item
          a.nav-link(href='#' 
          :class="{'active': visibility=='all'}"
          @click="visibility = 'all'") 全部
        li.nav-item
          a.nav-link(href='#' 
          :class="{'active': visibility=='active'}" @click="visibility = 'active'") 進行中
        li.nav-item
          a.nav-link(href='#' 
          :class="{'active': visibility=='complete'}" @click="visibility = 'complete'") 已完成
    ul.list-group.list-group-flush.text-left(
    v-for="(item, key) in filterTodo" 
    @dblclick="editTodo(item)")
      li.list-group-item
        .d-flex(v-if="cacheTodo.id !== item.id")
          .form-check
            input.form-check-input(
            type='checkbox'
            :id='item.id'
            v-model="item.completed")
            label.form-check-label(
            :for='item.id'
            :class="{'completed': item.completed}") {{item.title}}
          button.close.ml-auto(type='button' aria-label='Close')
            span(aria-hidden='true' @click="removeTodo(item)") ×
        input.form-control(
        type='text' 
        v-if="cacheTodo.id == item.id"
        v-model="cacheTitle"
        @keyup.esc="cancleEdit"
        @keyup.enter="saveEdit(item)")
    .card-footer.d-flex.justify-content-between
      span 有 {{ taskNum }} 筆 {{ taskNow }}任務
      a(href='#' @click="removeAll") 清除所有任務
